html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 100%;
}

#clearElement{
    width: 30px;
    height: 20px;
    background-color: white;
    text-align: center;
    z-index: 1;
}

.controlUI{
    position: absolute;
    right: 5px;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 5px;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    text-align: center;
}

#drag{
    top: 45px;
}

#remove{
    top: 87px;
}

#export{
    top: 129px;
}

#import{
    top: 170px;
}
.controlDiv {
    top: 40px !important;
    left: auto !important;
    right: 0;
    padding: 5px;
}

.lnr {
    line-height: 30px !important;
    font-size: 20px;
}
